<% if(title) { %>
  <h1>
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

    <%- messages() %>
<form id="loginForm">
  <fieldset id="login">
    <label for="account_email">Email:</label><br>
    <input type="email" id="login_email" name="account_email"
           required><br>
    <label for="account_password">Password:</label><br>
    <input type="password" id="login_pwd" name="account_password"
           required><br>
    <input type="submit" id="login_btn" value="Login"><br>
    <span>No account?<a href="/account/registration"> Sign-up</a></span>
  </fieldset>
</form>

