<% if(title) { %>
  <h1>
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

    <%- messages() %>

    <form id="registerForm" action="/account/registration" method="post">
      <fieldset id="register">
        <label for="account_firstname">First name</label><br>
        <input type="text" id="account_firstname" name="account_firstname"
              required><br>
        <label for="account_lastname">Last name</label><br>
        <input type="text" id="account_lastname" name="account_lastname"
              required><br>
        <label for="account_email">Email address</label><br>
        <input type="email" id="account_email" name="account_email"
              required><br>
        <label for="account_password">Password</label><br>
        <input type="password" id="account_password" name="account_password"
              required><br>
        <input type="submit" id="register_btn" value="Register"><br>
      </fieldset>
    </form>