<header id="top-header">
    <span>
      <a class="no-under" href="/" title="Return to home page">CSE MOTORS</a>
    </span>
    <div id="tools">
      <% if(!locals.loggedin) { %>
        <a id="accountLink" class="no-under" title="Click to login" href="/account/login">My Account</a>
      <% } else { %> 
        <a id="manageLink" class="no-under" title="AcctManagement" href="/account/login">Welcome Basic</a>
        <a id="logoutLink" class="no-under" title="Click to logout" href="/account/logout">Log Out</a>

      <% } %> 
    </div>
</header>