<header id="top-header">
    <span>
      <a class="no-under" href="/" title="Return to home page">CSE MOTORS</a>
    </span>
    <div id="tools">
      <a class="no-under" title="Click to log in" href="/accout/login">My Account</a>
    </div>
</header>