
/******* Mobile Styles < 768px ******************/
body {
   display: flex;
   flex-direction: column;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   font-family: Arial, Helvetica, sans-serif;
}
header#top-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

}
#top-header span,
#tools {
   display: inline-block;
   margin-right: 10px;
   margin-top: 3%;
}
#top-header span {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: x-large;
}
#tools{
   margin-right: 0;
   margin-bottom: auto;
}
a.no-under {
   margin-right: 5px;
   padding-top: 15px;
   text-decoration: none;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   
}
nav ul{
   background-color: black;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   height: 40px;
}
nav a {
   padding: 3px;
   color: white;
   text-decoration: none;
}
/******* HOME PAGE ******************/
#car-div {
   max-width: fit-content;
   margin: auto;
   padding-left: 30px;
}
#car-div span{
   margin-top: 0;
   margin-bottom: 0;
   font-weight: bolder;
   font-size: larger;
   
}
#overlap {
   position: absolute;
   width: 25%;
   background-color: rgba(255, 255, 255, 0.75);
   transform: translate(-55%, -125%);
   color: rgb(161, 26, 26);
}
#overlap p {
   margin: 0;
}
.p-color {
   text-align: center;
   width: 85%;
   height: 10%;
   background-color: rgb(161, 26, 26);
   color: rgb(255, 254, 254);
   text-align: center;
}
#reviews {
   margin-bottom: 0;
}
#review-list{
   margin-left: 20px;
   margin-top: 0;
   padding: 0;
   font-size: smaller;
}
#review-list li{
   padding-bottom: 2%;
}
#upgrades{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#upgrades h2 {
   width: 100%;
}
.upgrade-img{
   break-inside: avoid;
   width: 48%;
   margin-bottom: 10px;
   break-inside: avoid;
   text-align: center;
   font-size: smaller;
   text-decoration: underline;
}
.upgrade-img img{
   height: auto;
   max-width: 50%;
   padding-top: 5%;
   padding-bottom: 0%
}
.upgrade-img a {
   display: block;
}
.img-box {
   height: 85%;
   width: 100%;
   background-color: rgb(161, 26, 26);
   text-decoration: none;
}
/******* By Category ******************/
#in-display {
  max-width: fit-content;
}
.namePrice {
  display:flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.namePrice hr {
  height: 5px;
  color: black;
  background-color: black;
}

.namePrice h2{
 text-align: center;
}

.namePrice span {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 33%;
  margin-right: auto;
}

#inv-display li {
  margin: 10px;
  min-width: fit-content;
  height: auto;
  border-radius: 10px;
  border: 5px rgb(161, 26, 26) solid;
  list-style-type: none;
}

#inv-display img {
 width: 100%;
 height: auto;
 margin-top: 10px;
}

/******* By Details ******************/
#detailContainer {
  border:3px rgb(161, 26, 26) solid;
}
#detailContainer img {
  display: flex;
  max-width: 100%;
  height: auto;
}

.card {
  background-color: #e4e4e4;
  padding:10px;
  margin: 10px;
  font-size: x-large;
}

.lightCard {
  padding: 10px;
  font-size: x-large;
  text-align: justify;
}
.heavyLight {
  padding: 10px;
  font-size: large;
}

.heavyLight strong {
  font-size: x-large;
}

footer {
   margin: 10px;
   font-size: smaller;
}

/*********** Account Login/Register ****************/
#loginForm {
max-width: 100vw;
height: auto;
}

#login, #register {
  max-width: 100%;
  background-color: grey;
  border: rgb(161, 26, 26) solid;
  border-radius: 10px;
}
#login, #register label{
  font-size: x-large;
  color: white;
  margin-left: 20%;
 
}
#login, #register input {
  border: rgb(161, 26, 26) solid;
  margin-bottom: 10px;
  margin-left: 20%;
  max-width: 75%;
}
#login_btn, #register_btn {
  margin-left: 30%;
  margin-top: 10px;
  border-radius: 15px;
  border: rgb(161, 26, 26) solid;
  width: 100px;
  height: 35px;
}
#login span {
  
  color: white;
  font-size: large;
  font-weight: bold;
}
#login a {
    color: white;
      font-size: large;
      font-weight: bold;
}

/*********** Management ****************/
#managementHead  {
  text-align: center;
}
#manageBtnsContainer {
  display: grid;
  justify-content: space-around;
}
#manageClassificationBtn {
  grid-column: 1;
  grid-row: 1;
}
#manageInventoryBtn {
  grid-column: 2;
  grid-row: 1;
}
.manageBtn {
  border-radius: 15px;
  border: rgb(161, 26, 26) solid;
  width: 150px;
  height: 35px;
}

/*********** Inventory Management ****************/

#enterInventory {
  display: flexbox;
  background-color: grey;
  border:  rgb(161, 26, 26) solid;
  border-radius: 15px;

}

#enterInventory label {
  display: flex;
  flex-direction: column;
    font-size: x-large;
      color: white;
      width: 100%;
      margin: auto;
}

#enterInventory input,
#enterInventory textarea,
#enterInventory select {
  border: 3px rgb(161, 26, 26) solid;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
#enterInventory select {
  font-size: larger;
  text-align: center;
}
#enterInventory label {
  font-size: x-large;
  color: white;
  text-align: center;
  width: 100%;
}
#add-invBtn {
  border-radius: 15px;
  font-size: larger;
  margin-top: 30px;
}
#infoContainer {
  display: flex;
    justify-content: center;
}
#invListContainer {
  display: flex;
  justify-content: center;
}
#tableContainer {
  display: flex;
  justify-content: center;
}

#classificationList {
  font-size: larger;
  border-radius: 15px;
  margin-bottom: 10px;

  border: 3px rgb(161, 26, 26) solid;
  max-width: 225px;
  max-height: 26px;
}

#inventoryDisplay  td  {
  border: 3px rgb(161, 26, 26) solid;
  border-left: none;
  border-right: none;
  border-top:none;
  padding: 10px;
}

th {
  border: 3px rgb(161, 26, 26) solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

#inventoryDisplay button {
  border-radius: 15px;
  border: 3px rgb(161, 26, 26) solid;
    background-color: whitesmoke;
}

#inventoryDisplay a {
  text-decoration: none;
  color: black;
}

h2{
  margin:10px;
}
p {
  margin: 10px;
}




/***********larger screens > 768 ****************/
@media only screen and (min-width: 768px) {
   body {
      margin-left: 12%;
      background-image:
         linear-gradient(45deg, #000000 25%, transparent 25%),
         linear-gradient(135deg, #000000 25%, transparent 25%),
         linear-gradient(45deg, transparent 75%, #000000 75%),
         linear-gradient(135deg, transparent 75%, #000000 75%);
      background-size: 100px 100px;
      background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
      justify-content: center;
   }
   #wrapper {
      border: 5px rgb(161, 26, 26) solid;
      border-radius: 1%;
      background-color: white;
      min-height: 90vh;
      min-width: 75vw;
   }
   h1 {
      margin-left: 3%;
   }
   #top-header span,
   #tools {
      display: inline-block;
      margin: 3% 3%;
   }
   nav ul {
      margin: 0 3%;
   }
   #car-div {
      margin-bottom: 15%;
   }
   #car-div img {
      height: auto;
      width: 40vw
   }
   #overlap {
      position: absolute;
      width: 20vw;
      height: auto;
      max-height: 30vh;
      background-color: rgba(255, 255, 255, 0.832);
      transform: translate(-15%, -125%);
      color: rgb(161, 26, 26);
      font-size: large;
   }
   #overlap p {
       margin-bottom: 5px;
   }
   .p-color {
      margin-top: 20px;
      width: 80%;
      height: 10%;
   }
   #bottom-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 3%;
   }
   #upgrades {
      order: -1;
      width: 45%;

   }
   #reviews {
      width: 45%;
   }
   #reviews li {
      margin-bottom: 8%;
   }
/******* By Category ******************/
#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#inv-display li {
  width: 250px;
  margin-bottom: 10px;
}
.namePrice h2 {
  text-align: center;
  font-size: medium;
}
/******* By Details ******************/
#detailContainer {
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 60px);
  grid-gap: 10px;
 
}
#detailContainer img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
}

#details {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  max-height: fit-content;
  align-content: center;
}
#price {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  align-content: center;
  max-height: 150px;
}
#descrip {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}
#color {
  grid-column: 2 / span 2;
  grid-row: 5 / span 1;
  align-content: center;
}
#miles {
  grid-column: 2 / span 2;
  grid-row: 6 / span 1;
  align-content: center;
}
.lightCard{
  background-color: white;
}
/*********** Account Login ****************/
#loginForm, #registerForm {
  max-width: 60vw;
  height: auto;
  margin-left: 35px;
}
#login, #register {
  min-width: 350px;
  max-width: 55%;
  background-color: grey;
  border: rgb(161, 26, 26) solid;
  border-radius: 10px;
}
#login, #register label {
  font-size: x-large;
  color: white;
  margin-left: 20%;

}
#login, #register input {
  border: rgb(161, 26, 26) solid;
  margin-bottom: 10px;
  margin-left: 20%;
  min-width: 50%;
  min-height: auto;

}

#login_btn, #register_btn {
  margin-left: 30%;
  margin-top: 10px;
  border-radius: 15px;
  border: rgb(161, 26, 26) solid;
  width: 100px;
  height: 35px;
}
#login span {
  margin-left: 20%;
  color: white;
  font-size: larger;
  font-weight: bold;
}
#login a{
  color: white;
  font-size: larger;
  font-weight: bold;
}
/*********** Management ****************/
#manageInventoryHead {
 text-align:  center;
}
.manageBtn {
  border-radius: 15px;
  border: rgb(161, 26, 26) solid;
  width: fit-content;
  height: 35px;
  font-size: larger;
}

/*********** Inventory Mangement ****************/

#enterInventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  height: auto;
  margin: auto;
}
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  }
}
