<% if(title) { %>
  <h1>
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

    <%- messages() %>
        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>

<form id="addClassForm" action="/inv/add-classification" method="post"> 
  <fieldset id="enterClassification">
    <label for="classificationName">New Classification Name</label><br>
    <input type="text" id="classificationName" name="classification_name"
           required pattern="^[a-zA-Z0-9]+$" value="<%= locals.classification_name%>">
    <br>
    <div>
      Classification name cannot contain a space or
      special character of any kind.
    </div>
    <input type="submit" id="add-classBtn" value="Add New Classification">
    <br>
  </fieldset>
</form>

