<% if(title) { %>
  <h1>
    <%= title %>
  </h1>
  <%} else { res.redirect('/'); } %>

    <%- messages() %>
        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>

<div id="mangeBtnsContainer">
  <button id="manageClassificationBtn" class="manageBtn"
    onclick="location.href='./add-classification'">Manage Classificaiton
  </button>
  <button id="manageInventoryBtn" class="manageBtn"
    onclick="location.href='./add-inventory'">Manage Inventory
  </button>
</div>  

